.header{
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.headerInner{
  width: 960px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.headerInner h1{
  width: 960px;
  margin: 0 auto;
  
}

.headerInner nav ul{
 display: flex; 
}

.headerInner nav ul li{
 width: 80px;
 padding-top: 10px;
}
